{{#if @trigger}}
    {{#if this.invoiceId}}
        <a href="https://app.sandbox.qbo.intuit.com/app/invoice?txnId={{this.invoiceId}}" target="_blank">View Invoice</a>
    {{else}}
        -
    {{/if}}
{{/if}}
