<UkCard style="margin-top: 15px">
    <div>
        <UkButton class="uk-width-1-5" type="button"  @color="primary" @size="large" @on-click={{this.connectQB}}>
            Connect to Quickbooks
        </UkButton> 
    </div>
    <div style="margin-top: 15px">
        <UkButton class="uk-width-1-5" type="button"  @color="primary" @size="large" @on-click={{this.connectXero}}>
            Connect to Xero
        </UkButton> 
    </div>
</UkCard>